.logo.logov2 {
    display: block !important;
}

.logo.logov1 {
    display: none !important;
}

.home-career {
  position: relative;
  width: 100vw !important;
  min-height: 70vh !important;
  background: url("../img/partner.png") !important;
  background-size: cover !important;
  background-position: center !important;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-top: 13%;
  align-items: center;
}

.whole{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../img/bg3.png");
  background-size: cover;
  background-position: center 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  margin-bottom: 900px;
}

.whole::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/bg2.png");
  background-size: cover;
  background-position: center 80%;
  z-index: -1;
}

.contact-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
}

.checkbox-class {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 2rem;
  text-align: justify;
}

.checkbox-class label {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.checkbox-class input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-class input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.checkbox-class input[type="checkbox"] + label::after {
  content: "\2713"; 
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: white;
}

.checkbox-class input[type="checkbox"]:checked + label::before {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.checkbox-class label span {
  margin-left: 10px;
}

.contactsales-heading {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0px;
}

.contactsales-heading p {
  font-size: 1.125rem;
  color: var(--text-color);
  margin-bottom: 0;
}

.contactsales-text {
  padding-top: 0.3rem;
  display: inline-block;
  font-size: 2.1875rem;
  font-weight: 600;
  letter-spacing: 0.0625rem;
  color: var(--text-color);
  position: relative;
  margin: -2rem auto 2rem auto;
}

.contactsales-text::after {
  content: '';
  display: block;
  width: 75%;
  height: 2px;
  background: linear-gradient(to bottom right, rgba(138, 196, 255, 1) 0%, rgba(144, 255, 220, 1) 100%);
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.contactsales {
  padding: 6rem;
}

.career1 {
  display: flex;
}

.career-form-column {
  flex: 1;
  margin-right: 20px;
}

.column-form {
  width: 50%;
  height: auto;
  margin: 0rem auto 7rem auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: none;
  background: #fff;
  box-shadow: 0px 0px 10px 0px #666;
}

.column-form p:not(.no-margin) {
  margin: 0;
}

.column-form .form-column p {
  font-size: 1.7rem;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin: 0;
}

.column .contact {
  text-align: right;
}

.no-margin{
  font-size: 2rem !important;
  font-weight: 600;
    background-image: linear-gradient(135deg, skyblue, lightgreen);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.moreways{
  margin-top: 4rem;
}

.moreways-text i {
  height: 40px;
  width: 40px;
  background: var(--bg-color);
  color: var(--main-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border-radius: 15px;
  transition: .3s;
  vertical-align: middle;
  cursor: pointer;
}

.moreways-text i:hover {
  transform: scale(1.1);
}

.moreways-text h6{
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.0625rem;
  background-image: linear-gradient(135deg, skyblue, lightgreen);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.moreways-text p{
  font-size: 1.125rem;
  color: var(--text-color);
  margin-bottom: 0;
}

/* Media query for screens with a maximum width of 768px */
@media only screen and (max-width: 768px) {
  * {
    text-transform: none !important;
  }

  #menu-icon{
    color: var(--bg-color);
  }

  .checkbox-class {
    margin-bottom: 30px;
  }

  .contact-row {
    display: block;
    margin-bottom: 0px;
  }

  .contactsales {
    padding: 3rem;
  }

  .career-form-column {
    width: 100%;
    margin-right: 0;
  }

  .column-form {
    width: 100%;
    margin: 0 auto 4rem auto;
  }

  .column-form .form-column p {
    font-size: 1.5rem;
  }

  .column .contact {
    text-align: left;
  }

  .no-margin{
  font-size: 1.7rem !important;
  font-weight: 600;
    background-image: linear-gradient(135deg, skyblue, lightgreen);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
}